/randomphone/.settings/com.vaadin.designer.prefs
randomphone/.settings/com.vaadin.designer.prefs
*.prefs
randomphone/.settings/com.vaadin.designer.prefs
randomphone/.vaadin-designer2/designer-theme.css
randomphone/.settings/com.vaadin.integration.eclipse.prefs
/bin/
randomphone/.settings/com.vaadin.designer.prefs
*.prefs
